<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
<h1>HTTP Status 403 - Access is denied</h1>

<span sec:authorize="isAuthenticated()">
               <span sec:authentication="name"></span> you don't have permission to access this page with
                Roles: <span sec:authentication="principal.userRole"></span> |
                <a th:href="@{/logout}">Sign Out</a>
            </span>

</body>
</html>