<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <div th:replace="fragments/header :: header-css"></div>
    <script src="/resources/selfScript/AdminApiScript.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container">
    <header>
        <h1 align="center">
            Admin Page
            <div class="logout" sec:authorize="isAuthenticated()">
                        <span id="currentUserLogin" sec:authentication="name">
                            user temp
                        </span>
                <a href="/logout">
                    <i class="icon-off"></i>
                </a>
            </div>
        </h1>
    </header>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th class="span1">Name</th>
            <th class="span1">Password</th>
            <th class="span1">add Role</th>
        </tr>
        </thead>
        <!--/*@thymesVar id="users" type="com.rjproject.entities.User"*/-->
        <tbody th:each="item:${users}">
        <tr>
            <td th:text="${item.getUsername()}">username</td>
            <td>
                <ul th:each="role:${item.getUserRole()}">
                    <li>
                        <b th:text="${role.getRole()}">UserRole</b>
                        <a class="btn btn-danger btn-delete" th:unless="${item.getUsername().equals('admin')}"
                           th:href="@{'/api/admin/' + ${item.getUsername()} + '/' + ${role.getRole()}}">delete</a>
                    </li>
                </ul>
            </td>
            <td>
                <div class="dropdown">
                    <button class="btn-success">Add Role</button>
                    <div class="dropdown-content">
                        <a th:each="possibleRole:${possibleRoles}"
                           th:unless="${T(com.rjproject.service.user.UserUtilService).checkIfUserHaveRole(item,possibleRole)}"
                           th:text="${possibleRole}"
                           th:href="@{'/api/admin/' + ${item.getUsername()} + '/' + ${possibleRole}}"
                           class="btn-add">Role to
                            add</a>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>