<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container">
    <header>
        <h1 align="center">
            Read our latest news!
            <div class="logout" sec:authorize="isAuthenticated()">
                        <span id="currentUserLogin" sec:authentication="name" th:href="@{'/' + ${currentUser.getUsername()}}">
                            user temp
                        </span>
                <a href="/logout">
                    <i class="icon-off"></i>
                </a>
            </div>
        </h1>
    </header>

    <div th:replace="fragments/posts :: posts"/>
    <ul class="toggle-menu toggle-menu__most-read">
        <li class="toggle-menu__item">
            <a th:if="${currentPageNumber > 1}" th:href="@{'/posts?page=' + ${currentPageNumber - 1}}"  class="toggle-menu__item-link active" rel="nofollow">Back</a>
        </li>
        <li class="toggle-menu__item" th:each="i: ${#numbers.sequence(pageStart, pageEnd)}">
            <a th:href="@{'/posts?page=' + ${i}}"  class="toggle-menu__item-link active" rel="nofollow" th:text="${i}">99</a>
        </li>
        <li class="toggle-menu__item">
            <a th:if="${currentPageNumber < lastPageNumber}" th:href="@{'/posts?page=' + ${currentPageNumber + 1}}" class="toggle-menu__item-link" rel="nofollow">Forward</a>
        </li>
    </ul>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>