<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <div th:replace="fragments/header :: header-css"></div>
    <link rel="stylesheet" type="text/css" href="/resources/buttons.css"/>
    <script src="/resources/selfScript/LoadUserPostComment.js"></script>

</head>
<body class="body-personal-page">
<div th:replace="fragments/header :: header"/>
<div class="container">
<header>
    <h1 align="center">
        this is <span th:text="${user.getUsername()}">user temp </span> personal page
        <div class="logout" sec:authorize="isAuthenticated()">
                        <span id="currentUserLogin" sec:authentication="name">
                            user temp
                        </span>
            <a href="/logout">
                <i class="icon-off"></i>
            </a>
        </div>
    </h1>
</header>

<a th:href="@{'/api/user/' + ${user.getUsername()} + '/getPosts'}" id="loadPosts"
   class="btn-styled btn-white btn-animation-1"> <span th:text="${user.getUsername()}">user temp </span> posts</a>
<a th:href="@{'/api/user/' + ${user.getUsername()} + '/getComments'}" id="loadComments"
   class="btn-styled btn-white btn-animation-1"> <span th:text="${user.getUsername()}">user temp </span> comments</a>

    <div id="resultBlock">
    </div>
</div>


<div th:replace="fragments/footer :: footer"/>
</body>
</html>