<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <div th:replace="fragments/header :: header-css"></div>
    <script src="/resources/selfScript/PostLikeScript.js"></script>
    <script src="/resources/selfScript/PostPrintScript.js"></script>
    <script>
        var postId = [[${post.getPostId()}]]
    </script>
</head>
<body >
<input type="hidden"  th:attr="data-user_logged_in=${#authentication.name}"/>
<div th:replace="fragments/header :: header"/>
<div class="container">
    <header>
        <h1 align="center" th:text="${post.getTopic()}">
            This post title
            <div class="logout" sec:authorize="isAuthenticated()">
                        <span id="currentUserLogin" sec:authentication="name">
                            user temp
                        </span>
                <a href="/logout">
                    <i class="icon-off"></i>
                </a>
            </div>
        </h1>
    </header>

    <header class="post__meta">
        <a th:href="@{'/user/' + ${post.getUser().getUsername()}}" class="post__user-info user-info"
           title="Post Author">
            <a th:href="@{'/user/' + ${post.getUser().getUsername()}}" class="logo" title="">
                <img th:src="@{/resources/images/user-default-image.png}" style="width:25px;height:25px"/>
            </a>
            <a class="user-info__nickname user-info__nickname_small" th:text="${post.getUser().getUsername()}"
               th:href="@{'/user/' + ${post.getUser().getUsername()}}">ads83</a>
        </a>
        <span class="post__time" th:text="${#dates.format(post.getCreateDate(), 'dd-MM-yyyy HH:mm')}">yesterday 14:18</span>
    </header>
    <div class="post__body">
        <div class="post__text">
            <p th:text="${post.getPostBody()}">post body</p>
        </div>
        <button sec:authorize="isAuthenticated()" class="button-plus" th:attr="data-post_id=${post.getPostId()}"
                th:classappend="${T(com.rjproject.service.user.UserUtilService).CheckIfUserLikePost(currentUser.getUsername(),post.getPostLikes()) > 0} ? button-plus-active : button-plus">
            Like
        </button>
        <strong class='post_rating' th:text="${post.getPostRating()}"> 99</strong>
        <button sec:authorize="isAuthenticated()" class="button-minus" th:attr="data-post_id=${post.getPostId()}"
               th:classappend="${T(com.rjproject.service.user.UserUtilService).CheckIfUserLikePost(currentUser.getUsername(),post.getPostLikes()) < 0} ? button-minus-active : button-minus">
            disLike
        </button>
    </div>
    <div id="comment-section">
    </div>
    <div class="post-just-comment" sec:authorize="isAuthenticated()">
    <input type="comment"  name="comment" placeholder="insert your comment" class='comment-input'>
    <button class="button-send-comment">Comment</button>
    </div>
</div>

<div th:replace="fragments/footer :: footer"/>
<script src="/resources/jquery-1.8.3.min.js"></script>
</body>
</html>