<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="userComments">
    <div class="comment" data-comment_id='${comment.commentId}' th:each="comment:${comments}">
        <a class="author" th:href="@{'/user/' + ${comment.getUser().getUsername()}}"
           th:text="${comment.getUser().getUsername()}"> </a> <span th:text="${#dates.format(comment.getCreateDate(), 'dd-MM-yyyy HH:mm')}"></span>
        <div class="comment-text" th:text="${comment.getText()}"></div>
        <div> <a class="btn" th:href="@{'/post/' + ${comment.getPost().getPostId()}}"> go to post </a></div>

    </div>
</div>
</body>
</html>