<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:fragment="header-css">
        <meta charset="utf-8"/>
        <!-- this is header-css -->
        <link rel="stylesheet" type="text/css" href="/resources/style.css"/>
        <link rel="stylesheet" type="text/css"
              href="/resources/bootstrap.min.css"/>
        <script src="/resources/jquery-1.8.3.min.js"></script>
    </div>
</head>
<body>
<div th:fragment="header">
    <div class="topnav">
        <a th:classappend="${#httpServletRequest.requestURI.contains('/posts')} ? active" th:href="@{/}">Latest News</a>
        <a th:classappend="${#httpServletRequest.requestURI.contains('/login')} ? active" sec:authorize="isAnonymous()"
           th:href="@{/login}">Login</a>
        <a th:classappend="${#httpServletRequest.requestURI.contains('registration')} ? active" sec:authorize="isAnonymous()"
           th:href="@{/registration}">Register</a>
        <a th:classappend="${#httpServletRequest.requestURI.contains('/admin')} ? active" sec:authorize="hasAnyAuthority('ADMIN')"
           th:href="@{/admin}">Admin</a>
        <a th:classappend="${#httpServletRequest.requestURI.contains('/post/create')} ? active" sec:authorize="isAuthenticated()"
           th:href="@{/post/create}">create new Post</a>
    </div>
</div>
</body>
</html>