<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
</head>
<body>
<div th:fragment="posts">
    <script src="/resources/selfScript/PostLikeScript.js"></script>
    <article class="post post_preview" th:each="post:${posts}">
        <header class="post__meta">
            <a th:href="@{'/user/' + ${post.getUser().getUsername()}}" class="post__user-info user-info"
               title="Post Author">
                <a th:href="@{'/user/' + ${post.getUser().getUsername()}}" class="logo" title="">
                    <img th:src="@{/resources/images/user-default-image.png}" style="width:25px;height:25px"/>
                </a>
                <a class="user-info__nickname user-info__nickname_small" th:text="${post.getUser().getUsername()}"
                      th:href="@{'/user/' + ${post.getUser().getUsername()}}">ads83</a>
            </a>
            <span class="post__time" th:text="${#dates.format(post.getCreateDate(), 'dd-MM-yyyy HH:mm')}">yesterday 14:18</span>
        </header>
        <h2 class="post__title">
            <a class="post__title_link" th:text="${post.getTopic()}"> post title</a>
        </h2>
        <div class="post__body">
            <div class="post__text">
                <p th:text="${post.getPostBody()}">post body</p>
            </div>
            <a class="btn"
               th:href="@{'/post/' + ${post.getPostId()}}">Read more</a>
            <button sec:authorize="isAuthenticated()" class="button-plus" th:attr="data-post_id=${post.getPostId()}"
                    th:classappend="${T(com.rjproject.service.user.UserUtilService).CheckIfUserLikePost(currentUser.getUsername(),post.getPostLikes()) > 0} ? button-plus-active : button-plus">
                Like
            </button>
            <strong class='post_rating' th:text="${post.getPostRating()}"> 99</strong>
            <button sec:authorize="isAuthenticated()" class="button-minus" th:attr="data-post_id=${post.getPostId()}"
                    th:classappend="${T(com.rjproject.service.user.UserUtilService).CheckIfUserLikePost(currentUser.getUsername(),post.getPostLikes()) < 0} ? button-minus-active : button-minus">
                disLike
            </button>
        </div>
        <div class="pre-post-space"></div>
    </article>

</div>
</body>
</html>